@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
    --color-primary: hsl(0, 0%, 17%);
    --color-second: hsl(0, 0%, 59%);
    --color-title: hsl(0, 0%, 100%);
    --color-text: hsl(0, 0%, 0%);
}

*{
    margin: 0px;
}

body{
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    background-color: white;
}

.all{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27%;
    background-image: url(images/pattern-bg-desktop.png);
    background-size: cover;
    position: relative;

    & &__title{
        font-size: 35px;
        color: var(--color-title);
        margin: 30px;
    }

    @media only screen and (max-width: 850px){

        & &__title{
            font-size: 30px;
        }
    }
}

.input{
    display: flex;
    min-width: 500px;

    & &__text{
        width: 100%;
        height: 40px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
    }

    & &__submit{
        min-width: 40px;
        background-color: var(--color-primary);
        color: var(--color-title);
        font-size: 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: none;
    }

    @media only screen and (max-width: 850px){
        min-width: 300px;
        width: 85%;
    }
}

.location-info{
    display: flex;
    flex-direction: row;
    background-color: var(--color-title);
    min-width: 800px;
    min-height: 120px;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 10px;

    & &__column{
        display: flex;
        flex-direction: column;
        width: 25%;
        margin: 26px 0px 20px 20px;
        border-right: solid 0.5px var(--color-second);
    }

    & &__title{
        font-size: 11px;
        font-weight: 700;
        color: var(--color-second);
        letter-spacing: 1px;
    }

    & &__ip-address{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    & &__timezone{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    & &__location{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    & &__isp{
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    @media only screen and (max-width: 850px){
        flex-direction: column;
        width: 85%;
        min-width: 400px;
        min-height: 100px;
        top: 190px;
        justify-content: center;
        align-items: center;

        & &__column{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 15px 0px 15px 15px;
            border-right: none;
        }
    }
}

#map{
    position: relative;
    z-index: 1;
    height: 700px;
}

.footer{
    display: flex;
    justify-content: center;
}